/* ================================================= */
/* ------------------ General CSS ------------------ */
/* ================================================= */

body {
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #fff;
}

a {
    font-family: 'Roboto Slab', serif;
    color: #D2691E;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #666;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #666;
    margin: 0 0 20px 0;
    padding: 0;
}





/* ================================================= */
/* ------------------ Header CSS ------------------- */
/* ================================================= */

#header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

#header.header-scrolled {
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 0;
    height: 72px;
    transition: all 0.5s;
}

#header #logo {
    float: left;
}

#header #logo h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
}

#header #logo h1 a {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: -1px;
}

#header #logo h1 a:hover {
    color: #fff;
}

#header #logo img {
    padding: 0;
    margin: 0;
    max-height: 50px;
}

/* ================================================= */
/* ----------------- Intro Section ----------------- */
/* ================================================= */

#intro {
    display: table;
    width: 100%;
    height: 100vh;
    background: #000;
}

#intro .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#intro .carousel-item::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#intro .carousel-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#intro .carousel-background img {
    max-width: 100%;
}

#intro .carousel-content {
    text-align: center;
}

#intro h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 1px;
}

#intro p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #fff;
}

#intro .carousel-fade {
    overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev,
#intro .carousel-control-next {
    width: 10%;
}

#intro .carousel-control-next-icon,
#intro .carousel-control-prev-icon {
    width: 50px;
    height: 50px;
    padding: 9px;
    background: #D2691E;
    font-size: 32px;
    line-height: 1;
}

#intro .carousel-indicators li {
    cursor: pointer;
}

#intro .btn-get-started {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    transition: 0.5s;
    margin: 10px;
    color: #ffffff;
    background: #D2691E;
}

#intro .btn-get-started:hover {
    background: #ffffff;
    color: #D2691E;
}
/* ================================================= */
/* ---------------- Banner Section ----------------- */
/* ================================================= */

.banner {
    background: url("../img/agri1.png") center top no-repeat;
    background-size: cover;
    padding: 200px 0 25px 0;
    position: relative;
}

@media (max-width: 767.98px) {
    .banner {
        padding: 120px 0 25px 0;
    }
}

.banner::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(31, 29, 29, 0.8);
}

.banner .contain {
    position: relative;
    z-index: 9;
}

.banner .banner-header {
    margin-bottom: 20px;

    text-align:left;
    font-size: 45px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.banner .banner-nav {
    text-align: right;
}

.banner .banner-box {
    display: inline-block;
    padding: 5px 18px 8px 18px;
    border: 2px solid #fff;
}

.banner .banner-box a {
    font-weight: 400;
    color: #fff;
}

.banner .banner-box a:hover {
    color: #D2691E;
}

.banner .banner-box a:first-child {
    padding-right: 16px;
    border-right: 2px solid #fff;
}

.banner .banner-box a:last-child {
    padding-left: 16px;
}

/* ================================================= */
/* ----------------- Menu Section ------------------ */
/* ================================================= */

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu > li {
    float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

#nav-menu-container {
    float: right;
    margin: 0;
}

.nav-menu a {
    font-family: 'Roboto Slab', serif;
    padding: 15px 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
}

.nav-menu li:hover > a,
.nav-menu > .menu-active > a {
    color: #D2691E;
}

.nav-menu > li {
    margin-left: 10px;
}

.nav-menu ul {
    margin: 4px 0 0 0;
    padding: 0;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 8px 10px;
    color: #666;
    transition: 0.3s;
    display: block;
    font-size: 14px;
    text-transform: none;
}

.nav-menu ul li:hover > a {
    color: #FFFFFF;
    background: #D2691E
}

.nav-menu ul ul {
    margin: 0;
}

#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-nav-toggle i {
    color: #fff;
}

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700;
}

#mobile-nav ul li a:hover {
    color: #D2691E;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul li.menu-active a {
    color: #D2691E;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #D2691E;
}

#mobile-nav ul .menu-has-children li a {
    text-transform: none;
}

#mobile-nav ul .menu-item-active {
    color: #D2691E;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}


/* ================================================= */
/* ---------------- Responsive Media --------------- */
/* ================================================= */

@media (min-width: 1024px) {
    #header #logo {
        padding-left: 60px;
    }

    #intro p {
        width: 60%;
    }

    #intro .carousel-control-prev,
    #intro .carousel-control-next {
        width: 5%;
    }

    #nav-menu-container {
        padding-right: 60px;
    }
}

@media (max-width: 767.98px) {
    .banner .banner-header,
    .banner .banner-nav {
        text-align: center;
    }
    
    .back-to-top {
        bottom: 15px;
    }

    #header #logo h1 {
        font-size: 28px;
    }

    #intro h2 {
        font-size: 28px;
    }

    #nav-menu-container {
        display: none;
    }

    #mobile-nav-toggle {
        display: inline;
    }
}
/* ================================================= */
/* --------------- abstract1  --------------- */
/* ================================================= */  

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/* Base Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
p {
    margin: 15px 0;
}

h1 {
    font-weight: 800;
    font-size: 38.5px;
    text-align: center;
}
#important{
    margin-right: 155px;
}
h2 {
    font-weight: 800;
    font-size: 22.5px;
}

h3 {
    font-weight: 800;
    font-size: 25.5px;
}

p {
    font-weight: 400;
    font-size: 16.25px;
}

.para {
   font-weight: 500;
   font-size: 18.75px;
   padding-right: 22.5px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 67.5%;
    align-items: center;
    margin: auto;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

.about2 {
    padding: 7.5px 0;
}

.about2 {
    color: #222;
}

.about2-left {
    flex-basis: 50%;
}

.about2-right {
    flex-basis: 50%;
}

.about2 .shape {
    padding: 15px 67.5px;
    text-align: center;
    color: #222;
    background-color: #DCDCDC;
    margin: 7.5px;
    text-align: center;
}

.about2 .shape:hover {
    background-color: rgb(255, 1, 69);
    color: whitesmoke;
    transition: 1s;
    cursor: pointer;
    border-radius: 15px;
}


/* ================================================= */
/* ------------------- Footer CSS ------------------ */
/* ================================================= */

#footer {
    position: relative;
    background: #000000;
    padding: 0 0 30px 0;
    text-align: center;
}

#footer .footer-top {
    background: #222222;
    padding: 45px 0;

}

#footer .footer-top .social-links a {  
    margin: 0 10px;
    display: inline-block;
    font-size: 30px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    box-shadow: 0 0 0 4px #D2691E inset, 0 0 5px 0 rgba(000, 000, 000, 0.5);
    color: #fff;
    transition: all 0.3s;
}

#footer .footer-top .social-links a:hover {
    box-shadow: 0 0 0 4px #D2691E inset, 0 0 5px 0 rgba(000, 000, 000, 0.5);
    background: #D2691E;
    color: #222222;
}

@media (max-width: 575.98px) {
    #footer .footer-top .social-links a {
        margin: 0 2px;
        font-size: 20px;
        height: 40px;
        width: 40px;
        line-height: 40px;
    }
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}


/* ================================================= */
/* ------------------ Responsiveness CSS ------------------ */
/* ================================================= */

@media (max-width: 767px) {
    /* Adjust the max-width value as per your requirements */
  
    /* Set a maximum width for the container */
    .container {
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  
    /* Center-align the logo */
    #logo {
      text-align: center;
    }
  
    /* Adjust the font size of the navigation menu items */
    .nav-menu li a {
      font-size: 14px;
    }
  
    /* Adjust the font size and padding of the footer */
    #footer {
      font-size: 12px;
      padding: 10px 0;
    }
  
    /* Adjust the font size and line height of the section titles */
    section h3 {
      font-size: 24px;
      line-height: 30px;
    }
  
    /* Adjust the font size and line height of the content within cards */
    .card .content h3,
    .card .content p {
      font-size: 16px;
      line-height: 24px;
    }
  }



